html, body {
	height: 100%;
}

body>.container-fluid, body>.container-fluid>.row, body>.container-fluid>.row>[class^="col-"] {
	height: 100%;
}

.nav-list>.list-group-item {
	background-color: transparent;
	border: 0;
	font-weight: bold;
}

.nav-list>.list-group-item.active {
	background-color: #df8a13;
}

.nav-list>.list-group-item:hover {
	background-color: #eea236;
}

.jumbotron {
  background-position: center;
  background-size: cover;
}

.bg-home {
  background-image: url("../images/background-2.jpg");
}

.bg-results {
  background-image: url("../images/background-5.jpg");
  background-position: center bottom;
}

.bg-user {
  background-image: url("../images/background-6.jpg");
  background-position: center bottom;
}

.bg-users {
  background-image: url("../images/background-1.jpg");
}

.card-inverse {
  border: none;
}

.text-shadow {
	text-shadow: 4px 3px 0 #449d44, 9px 8px 0 rgba(0,0,0,0.15);
}
