<div class="jumbotron jumbotron-fluid bg-home">
  <div class="container">
    <div class="card card-inverse card-block bg-success m-b-0 p-a-2">
      <h1 class="display-4 text-shadow m-a-0 hidden-sm-down">Welcome. Discover your team.</h1>
      <h1 class="text-shadow m-a-0 hidden-md-up">Welcome.<br>Discover your team.</h1>
    </div><!-- .card -->
  </div><!-- .container -->
</div><!-- .jumbotron -->

<div class="container">
  <div class="row">
    <div class="col-md-4 text-xs-center m-b-2">
      <h2 class="display-1">
        <i class="fa fa-trophy text-warning"></i>
      </h2>
      <p class="lead m-b-0">Get to know your teammates.</p>
      <p class="m-b-0">Look over each profile.</p>
      <p>Leave praise for a job well done.</p>
      <a class="btn btn-info" data-ui-sref="users">Take a quiz</a>
    </div><!-- .col-sm-4 -->

    <hr class="hidden-md-up m-y-1">

    <div class="col-md-4 text-xs-center m-b-2">
      <h2 class="display-1">
        <i class="fa fa-users text-primary"></i>
      </h2>
      <p class="lead m-b-0">Match facts to members of the team.</p>
      <p class="m-b-0">Test your team knowlege.</p>
      <p>Guess which facts match each teammate.</p>
      <a class="btn btn-info" data-ui-sref="match">find out</a>
    </div><!-- .col-sm-4 -->

    <hr class="hidden-md-up m-y-1">

    <div class="col-md-4 text-xs-center m-b-2">
      <h2 class="display-1">
        <i class="fa fa-pie-chart text-danger"></i>
      </h2>
      <p class="lead m-b-0">Results are in.</p>
      <p class="m-b-0">Find out where you stand.</p>
      <p>Are you the most mysterious?</p>
      <a class="btn btn-info" data-ui-sref="results">consult the scores</a>
    </div><!-- .col-sm-4 -->
  </div><!-- .row -->
</div><!-- .container -->
