<div class="jumbotron jumbotron-fluid bg-home">
  <div class="container">
    <div class="card card-inverse card-block bg-success display-4 p-a-1 hidden-xs-down">
      Welcome. Discover your team.
    </div><!-- .card -->
    <div class="card card-inverse card-block bg-success h1 p-a-1 hidden-sm-up">
      Welcome. Discover your team.
    </div><!-- .card -->
  </div><!-- .container -->
</div><!-- .jumbotron -->

<div class="row">
  <div class="col-sm-4 text-xs-center" data-ui-sref="users">
    <h2 class="display-1">
      <i class="fa fa-trophy text-warning"></i>
    </h2>
    <p class="lead m-b-0">
      Get to know your teammates.
    </p>
    <ul class="list-unstyled">
      <li>Look over each profile.</li>
      <li>Leave praise for a job well done.</li>
      <li><a class="btn btn-info" data-ui-sref="users">Take a quiz</a></li>
    </ul>
  </div><!-- .col-sm-4 -->

  <div class="col-sm-4 text-xs-center" data-ui-sref="users">
    <h2 class="display-1">
      <i class="fa fa-users text-primary"></i>
    </h2>
    <p class="lead m-b-0">
      Match facts to members of the team.
    </p>
    <ul class="list-unstyled">
      <li>Test your team knowlege.</li>
      <li>Can you guess which facts match each teammate?</li>
      <li><a class="btn btn-info" data-ui-sref="match">find out</a></li>
    </ul>
  </div><!-- .col-sm-4 -->

  <div class="col-sm-4 text-xs-center" data-ui-sref="users">
    <h2 class="display-1">
      <i class="fa fa-pie-chart text-danger"></i>
    </h2>
    <p class="lead m-b-0">
      Results are in.
    </p>
    <ul class="list-unstyled">
      <li>Find out where you stand.</li>
      <li>Who is the most mysterious?</li>
      <li><a class="btn btn-info" data-ui-sref="results">consult the scores</a></li>
    </ul>
  </div><!-- .col-sm-4 -->

</div><!-- .row -->
