<div class="jumbotron jumbotron-fluid bg-users">
  <div class="container">
    <div class="card card-inverse card-block bg-success m-b-0 p-a-2">
      <h1 class="display-4 text-shadow m-a-0 hidden-xs-down">Users</h1>
      <h1 class="text-shadow m-a-0 hidden-sm-up">Users</h1>
    </div><!-- .card -->
  </div><!-- .container -->
</div><!-- .jumbotron -->

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" data-ng-repeat="user in users | orderBy: ['last_name', 'first_name']">
      <div class="card p-t-1">
        <a data-ng-sref="user.detail">
          <img class="card-img-top center-block img-fluid" src="{{user.image}}" alt="{{user.first_name}} {{user.last_name}}">
        </a>
        <div class="card-block p-a-1 text-truncate text-xs-center">
          <a class="card-title" data-ui-sref="profile({id: user.id})">
            <strong class="text-truncate">{{user.first_name}} {{user.last_name}}</strong>
          </a>
          <br>
          <em class="text-muted">{{user.title}}</em>
        </div><!-- .card-block -->
      </div><!-- .card -->
    </div><!-- .col-sm-2 -->
  </div><!-- .row -->
</div><!-- .container -->
